 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/thumb-1920-957411.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 353px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 10px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-weight: 100;
  }
}