<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="107.1.5" targetFramework="net48" />
  <package id="cef.redist.x86" version="107.1.5" targetFramework="net48" />
  <package id="CefSharp.Common" version="107.1.50" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="107.1.50" targetFramework="net48" />
</packages>